@{
    ViewBag.Title = "Home Page";
}
    <style>
        h1{
            font-size: 32px;
            font-family:Arial;
        }

    </style>


<h1>    
    Welcome To GC Coffee Shop!
    <a href="/Home/RegistrationPage"> Register</a>
</h1>